@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color: white;">
    <div class="row">
        <div class="col-md-12 text-center">
            <img src="~/Content/imgs/home.jpg" />
            <h4>SISTEMA DE CADASTRO DE RESTAURANTES</h4>
        </div>
    </div>
</div>

